/node_modules
/public/hot
/public/storage
/public/js/app.js
/public/css/app.css
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.testing
.htaccess
package-lock.json
/resources/assets/js/config/env.js
/storage/fonts/cache
/tests/api.suite.yml
